In [14]:
import pandas as pd
import numpy as np
import datetime
from dataprep.clean import clean_date, clean_df, clean_email, clean_address

In [2]:
md_df = pd.read_csv('/Users/novellaalvina/Documents/US/UTAH/Lessons/MS/Spring2025/CS 6964/project/IHCS/potential_dataset/Messy-Data.csv')

In [3]:
md_df.head(10)

,Name,EmployeeID,Salary,DOB,JoinDate,Year of Service,Weight,Address,Email
0,Aishwarya Menon,0194-826-537,90000,"15th December, 1984",24.05.2009,NaN,150 lbs,"123 Elm St Apt 5, New York, NY 10001",aishwarya.menon@g mail.com
1,"Al-Farsi, Ahmed",426-930-0187,800K,5/21/80,24-May-15,7 years,68.5 kg,"456 Maple Ave #101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.c om
2,"Al-Farsi, Ahmed",426 930 0187,800K,5/21/80,24-May-15,NaN,68.5 kg,"456 Maple Ave APT 101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.com
3,"Al-Farsi, Ahmed M.",0654-890-127,500K,03.10.1978,2-Jun-10,12 years,75.2 kg,"987 Pine Blvd, San Francisco, CA 94102",ahmed.m.alfarsi@gmail.c om
4,Alice B. Brown,0632 750 194,"$950,000",8/12/83,15-Oct-18,3 years,200 lbs,"654 Birch Rd, Apt 305, Boston, MA 02108",alice.brown@gmail.com
5,Alice K Brown,0429-581-0763,780K,2/10/83,1-Jul-15,NaN,90.3 kg,"321 Cedar Dr, Seattle, WA 98101",alice.88-brown@yahoo.com
6,"Chen, Mei",00482-679-013,"$25,000",5/15/90,8/23/05,16 years,160 lbs,"111 Willow Cir #7, Houston, TX 77002",mei.chen@yahoo.c om
7,"Chen, Mei",0983-567-0124,"33,000",9/18/77,12.22.2014,NaN,72.6 kg,"222 Spruce Ct, Atlanta, GA 30301",mei.chen@yahoo.c om
8,"Choudhary-Smith, Meera",0502-349-0186,42K,"16th August, 1971",14/12/2012,NaN,145 pounds,"333 Fir Pl, Miami, FL 33101",meera.choudhary-smith@g mail.com
9,"Chris Davis, Esq.",105-297-384,15K,19/07/1972,28-Sep-09,12 years,65.7 kg,"444 Poplar Ln, Unit 12, Dallas, TX 75201",chris.davis.esq@gmail.com

In [4]:
inferred_dtypes, formatted_df = clean_df(md_df, standardize_missing_values='ignore')

Data Type Detection Report:
	These data types are supported by DataPrep to clean: ['URL', 'address']
Column Headers Cleaning Report:
	9 values cleaned (100.0%)
Downcast Memory Report:
	Memory reducted from 31248 to 38533. New size: (123.31%)

In [5]:
inferred_dtypes

                semantic_data_type atomic_data_type
Name                        string           string
EmployeeID                  string           string
Salary                      string           string
DOB                         string           string
JoinDate                    string           string
Year of Service            address           string
Weight                     address           string
Address                    address           string
Email                          URL           string

In [6]:
formatted_df.columns

Index(['name', 'employee_id', 'salary', 'dob', 'join_date', 'year_of_service',
       'weight', 'address', 'email'],
      dtype='object')

In [16]:
columns_to_format = {'dob': 'datetime', 'join_date': 'datetime', 'email': 'email', 'address': 'US_address'}
year_format = {'dob': True, 'join_date': False}
for col in columns_to_format.keys():
    data_type = columns_to_format[col]
    
    if data_type == 'datetime':
        formatted_df[col] = clean_date(formatted_df, col, inplace=True, report=True, progress=True)[f'{col}_clean']
        formatted_df[col] = pd.to_datetime(formatted_df[col])
        if year_format[col]:
            formatted_df[col] = formatted_df[col].apply(lambda x: x.replace(year=x.year-100) if x.year > datetime.datetime.now().year else x)
    elif data_type == 'email':
        formatted_df[col] = clean_email(formatted_df, col, remove_whitespace=True, report=True, progress=True)[f'{col}_clean']
    elif data_type == 'US_address':
        formatted_df[col] = clean_address(formatted_df, col, report=True, progress=True)[f'{col}_clean']

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

Dates Cleaning Report:
	48 values cleaned (96.0%)
	2 values unable to be parsed (4.0%), set to NaN
Result contains 48 (96.0%) values in the correct format and 2 null values (4.0%)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

Dates Cleaning Report:
	49 values cleaned (98.0%)
	1 values unable to be parsed (2.0%), set to NaN
Result contains 49 (98.0%) values in the correct format and 1 null values (2.0%)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

email Cleaning Report:
Result contains 50 (100.0%) values in the correct format and 0 null values (0.0%)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

Address Cleaning Report:
Result contains 50 (100.0%) values in the correct format and 0 null values (0.0%)

In [9]:
formatted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             50 non-null     category
 1   employee_id      50 non-null     category
 2   salary           50 non-null     category
 3   dob              48 non-null     datetime64[ns]
 4   join_date        49 non-null     datetime64[ns]
 5   year_of_service  22 non-null     category
 6   weight           50 non-null     category
 7   address          50 non-null     object
 8   email            50 non-null     object
dtypes: category(5), datetime64[ns](2), object(2)
memory usage: 9.2+ KB

In [17]:
formatted_df['dob'].dt.year.unique()

array([1984., 1980., 1978., 1983., 1990., 1977.,   nan, 1972., 1996.,
       1999., 1986., 1968., 1991., 1970., 1994., 1975., 1998., 1965.,
       1979., 1976., 1982., 1989., 1973., 1974., 1995., 1987., 1988.,
       1985., 1993., 1997., 1992., 1971., 1981.])