In [1]:
import pandas as pd
import numpy as np
import datetime
from dataprep.clean import clean_date, clean_df, clean_email, clean_address, clean_country, clean_url, clean_phone, clean_isbn, clean_text, clean_duplication, clean_df_gui

In [2]:
# got the data path from the uploaded file
# data_path = input("Enter the data path")
data_path = '/Users/novellaalvina/Documents/US/UTAH/Lessons/MS/Spring2025/CS 6964/project/IHCS/potential_dataset/Messy-Data.csv'

In [3]:
# create dataframe from the uploaded file
md_df = pd.read_csv(data_path)

In [4]:
# display the few examples of the data and ask user to verify
md_df.head(5)

,Name,EmployeeID,Salary,DOB,JoinDate,Year of Service,Weight,Address,Email
0,Aishwarya Menon,0194-826-537,90000,"15th December, 1984",24.05.2009,NaN,150 lbs,"123 Elm St Apt 5, New York, NY 10001",aishwarya.menon@g mail.com
1,"Al-Farsi, Ahmed",426-930-0187,800K,5/21/80,24-May-15,7 years,68.5 kg,"456 Maple Ave #101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.c om
2,"Al-Farsi, Ahmed",426 930 0187,800K,5/21/80,24-May-15,NaN,68.5 kg,"456 Maple Ave APT 101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.com
3,"Al-Farsi, Ahmed M.",0654-890-127,500K,03.10.1978,2-Jun-10,12 years,75.2 kg,"987 Pine Blvd, San Francisco, CA 94102",ahmed.m.alfarsi@gmail.c om
4,Alice B. Brown,0632 750 194,"$950,000",8/12/83,15-Oct-18,3 years,200 lbs,"654 Birch Rd, Apt 305, Boston, MA 02108",alice.brown@gmail.com

In [5]:
inferred_dtypes, formatted_df = clean_df(md_df, standardize_missing_values='ignore')

Data Type Detection Report:
	These data types are supported by DataPrep to clean: ['URL', 'address']
Column Headers Cleaning Report:
	9 values cleaned (100.0%)
Downcast Memory Report:
	Memory reducted from 31248 to 38533. New size: (123.31%)

In [6]:
inferred_dtypes

                semantic_data_type atomic_data_type
Name                        string           string
EmployeeID                  string           string
Salary                      string           string
DOB                         string           string
JoinDate                    string           string
Year of Service            address           string
Weight                     address           string
Address                    address           string
Email                          URL           string

In [7]:
formatted_df

,name,employee_id,salary,dob,join_date,year_of_service,weight,address,email
0,Aishwarya Menon,0194-826-537,90000,"15th December, 1984",24.05.2009,NaN,150 lbs,"123 Elm St Apt 5, New York, NY 10001",aishwarya.menon@g mail.com
1,"Al-Farsi, Ahmed",426-930-0187,800K,5/21/80,24-May-15,7 years,68.5 kg,"456 Maple Ave #101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.c om
2,"Al-Farsi, Ahmed",426 930 0187,800K,5/21/80,24-May-15,NaN,68.5 kg,"456 Maple Ave APT 101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.com
3,"Al-Farsi, Ahmed M.",0654-890-127,500K,03.10.1978,2-Jun-10,12 years,75.2 kg,"987 Pine Blvd, San Francisco, CA 94102",ahmed.m.alfarsi@gmail.c om
4,Alice B. Brown,0632 750 194,"$950,000",8/12/83,15-Oct-18,3 years,200 lbs,"654 Birch Rd, Apt 305, Boston, MA 02108",alice.brown@gmail.com
5,Alice K Brown,0429-581-0763,780K,2/10/83,1-Jul-15,NaN,90.3 kg,"321 Cedar Dr, Seattle, WA 98101",alice.88-brown@yahoo.com
6,"Chen, Mei",00482-679-013,"$25,000",5/15/90,8/23/05,16 years,160 lbs,"111 Willow Cir #7, Houston, TX 77002",mei.chen@yahoo.c om
7,"Chen, Mei",0983-567-0124,"33,000",9/18/77,12.22.2014,NaN,72.6 kg,"222 Spruce Ct, Atlanta, GA 30301",mei.chen@yahoo.c om
8,"Choudhary-Smith, Meera",0502-349-0186,42K,"16th August, 1971",14/12/2012,NaN,145 pounds,"333 Fir Pl, Miami, FL 33101",meera.choudhary-smith@g mail.com
9,"Chris Davis, Esq.",105-297-384,15K,19/07/1972,28-Sep-09,12 years,65.7 kg,"444 Poplar Ln, Unit 12, Dallas, TX 75201",chris.davis.esq@gmail.com
10,"Da Silva, Maria",0614 208 357,"$250,000",15.06.1996,8/16/06,NaN,185 lbs,"555 Sycamore Ave Apt 201, Washington, DC 20001",maria.da.silva@gmail.com
11,"Desai, Professor Arjun",0736-150-824,"850,000",11.30.1980,9/21/16,NaN,84.0 kg,"666 Ash St, Phoniex, AZ 85001",arjun.desai@gmail.com
12,Dr. Robert Johnson,0532 941 687,"$35,000",3/8/99,10/9/18,NaN,170 lbs,"777 Redwood Rd, Denver, CO 80202",dr.robert.johnson@gmail.c om
13,"Garcia, Javier",0952-864-301,120K,9/22/86,"11th March, 2013",NaN,77.1 kg,"888 Magnolia Blvd, Philadelpia, PA 19101",javier.garcia@yahoo.c om
14,"Garcia, Javier",0314-728-0569,"95,000","20th September, 1968",6/9/18,NaN,155 pounds,"999 Cedar St, Detroit, MI 48201",javier.garcia202@yahoo.c om
15,Hui Yang,0349-761-802,120000,18-Nov-86,12-Feb-16,6 years,70.2 kg,"101 Oakwood Dr #305, Las Vegas, NV 89101",hui.yang@gmail.com
16,"Iyer, Esq., Siddharth",0419 587 306,"$175,000",27.03.1991,26-Feb-19,3 years,195 lbs,"202 Birch Ave, San Antonio, TX 78201",siddharth.iyer.esq@gmail.com
17,Jamal Williams,0238-617-495,650K,03.09.1970,12.07.2013,NaN,88.5 kg,"303 Maple Rd, Orlando, FL 32801",jamal.williams@yahoo.c om
18,Jane Smith,0850 694 271,"$19,000",1/7/94,7/19/19,NaN,140 lbs,"404 Willow Ln #8, San Diego, CA 92101",jane.smith@gmail.c om
19,Jane Smith,850694271,"$19,000",1/7/94,7/19/19,NaN,140 lbs,"404 Willow Ln #8, San Diego, CA 92101",jane.smith@gmail.c om
20,John Doe,0580-796-321,200000,22/09/1996,"18th August, 2010",11 years,175 lbs,"606 Cedar Pl, Apt 502, New Orleans, LA 70112",john.doe@yahoo.c om
21,"Kapoor, PhD, Ananya",703-182-965,85K,30/06/1975,8-Nov-14,7 years,79.8 kg,"707 Elm Ct #3, St. Louis, MO 63101",ananya.kapoor.phd@gmail.com
22,"Kapoor, PhD, Ananya",0796 351 0482,$29K,6/9/98,03.19.2019,NaN,150 pounds,"808 Redwood Dr, Indianapolis, IN 46201",ananya.kapoor.phd@gmail.com
23,Li Ying,0670-123-598,60K,"14th June, 1965",14-Jul-06,15 years,68.1 kg,"909 Oakwood Blvd, Minneapolis, MN 55401",li.ying@yahoo.c om
24,Mary Ann White,0569 318 702,"$22,000","7th August, 1998",3-Aug-11,10 years,190 lbs,"210 Pine St #4, Baltimore, MD 21201",mary.ann.white@gmail.com
25,Meera Choudhary-Smith,0287-604-159,45000,1/12/79,17-Apr-18,3 years,86.4 kg,"321 Spruce Ln, Tampa, FL 33601",meera.choudhary-smith@gmail.com
26,Mr. William Turner Jr.,0825 403 0716,$80K,7/5/76,"5th June, 2015",NaN,165 lbs,"432 Birch Rd Apt 15B, Cleveland, OH 44101",mr.william.turner.jr@gmail.com
27,"Nkosi, Fatima",0902-345-618,"40,000","12th July, 1982",3/3/14,7 years,74.9 kg,"543 Cedar Ave, Pittsburgh, PA 15201",fatima.nkosi@gmail.c om
28,"Nkosi, Fatima S.",0874 951 820,"$18,000",6/14/89,9/11/16,5 years,205 lbs,"654 Elm Cir, Milwaukeee, WI 53201",fatima.s.nkosi@gmail.c om
29,"Patel, Dr. Priya",618372549,"$1,000,000",10.10.1973,4/17/19,NaN,93.0 kg,"765 Sycamore Pl, Cincinnati, OH 45201",dr.priya.patel@yahoo.c om
30,Professor Michael Williams,156489237,$500K,02.28.1974,7/12/05,16 years,135 lbs,"876 Maple Blvd, Portland, OR 97201",professor.michael.williams@gmail.c om
31,Professor Michael Williams,0873 216 0905,"$50,000",31.07.1995,25-03-2009,NaN,61.3 kg,"987 Willow Rd, Kansas City, MO 64101",professor.michael.williams@gmail.c om
32,"Reddy, Kavita",874215603,"$70,000",10-Sep-87,5-Jan-17,6 years,210 lbs,"108 Pine Dr #205, Charlotte, NC 28201",kavita.reddy@gmail.com
33,"Rodriguez, Diego",0467-215-0983,28K,2/17/88,15/10/2011,NaN,95.7 kg,"219 Redwood Ln, Salt Lake City, UT 84101",diego.rodriguez@gmail.c om
34,"Rodriguez, Diego",0287-460-931,38K,27-03-1985,9/17/10,NaN,130 lbs,"320 Oak Ave, Raleigh, NC 27601",diego.rodriguez@gmail.c om
35,"Rodriguez, Diego J.",0456 790 321,"$600,000",11.18.1988,19/07/2019,2 years,59.0 kg,"431 Cedar Blvd Apt 7, Nashville, TN 37201",diego.j.rodriguez@yahoo.c om
36,Samantha Taylor-Smith,0743 856 291,"$300,000",9/30/93,9-Dec-16,5 years,220 lbs,"542 Birch St, Sacramento, CA 95801",samantha.taylor-smith@gmail.com
37,"Sara L. Miller, PhD",891 567 204,35000,8/22/85,11/15/08,13 years,99.4 kg,"653 Magnolia Rd, Apt 101, Austin, TX 78701",sara.l.miller.phd@gmail.com
38,"Sharma, Rahul",0761 502 834,"$55,000",20/01/1997,2/28/08,NaN,125 pounds,"764 Sycamore Cir, Phladelphia, PA 19101",rahul.sharma@yahoo.c om
39,"Singh, Vikram",539 687 214,"$90,000",03.15.1992,5/10/12,NaN,56.8 kg,"875 Pine Pl, San Diego, CA 92101",vikram.singh@gmail.com
40,"Takahashi, Akira",198-543-706,"30,000",4/3/95,7-Mar-12,9 years,225 lbs,"986 Spruce Ln, Jacksonvill, FL 32201",akira.takahashi@gmail.com
41,"Takahashi, Akira",0143 297 865,"$42,000",21-May-71,"30th October, 2014",NaN,102.1 kg,"109 Elm Dr #302, Charleston, SC 29401",akira.takahashi@gmail.com
42,Tao Xu,0309-678-0124,"750,000",24.11.1981,01.12.2017,NaN,120 lbs,"210 Maple Rd, Memphs, TN 38101",tao.xu@yahoo.c om
43,"Verma, Mr. Rajiv",215 908 347,"$45,000",25-Feb-90,30-Apr-07,14 years,54.5 kg,"321 Oakwood Ave, Oklahma City, OK 73101",mr.rajiv.verma@gmail.c om
44,Wei Chen,0876 234 501,"$75,000",12/7/92,21/09/2013,8 years,230 lbs,"432 Birch Pl, Apt 6D, Richmond, VA 23201",wei.chen@yahoo.c om
45,William Turner Jr.,0961 874 0250,"$850,000",12/20/82,8/2/06,NaN,104.8 kg,"543 Sycamore Blvd, Newark, NJ 07001",william.turner.jr@gmail.c om
46,"Williams, Jamal",0297-431-0568,55K,4/5/78,13-Apr-08,NaN,115 lbs,"654 Willow Cir #9, Hartford, CT 06101",jamal.williams@yahoo.c om
47,"Williams, Jamal",0845 603 0219,"$14,000",14/02/1989,04.08.2005,NaN,52.2 kg,"765 Redwood Dr, Bufflo, NY 14201",jamal.williams@yahoo.c om
48,"Xavier, Sara",0406-892-0715,68K,"23rd October, 1974",12.25.2017,NaN,235 lbs,"876 Cedar Ln, Rochestor, NY 14601",sara.xavier@gmail.c om
49,Ying Zhao,0172-946-0580,600K,5/28/79,21-Nov-11,NaN,107.5 kg,"987 Elm Ave Apt 205, Virginia Beach, VA 23401",ying.zhao@yahoo.c om

In [8]:
formatted_df.to_dict('records')

[{'name': 'Aishwarya Menon',
  'employee_id': '0194-826-537',
  'salary': '90000',
  'dob': '15th December, 1984',
  'join_date': '24.05.2009',
  'year_of_service': nan,
  'weight': '150 lbs',
  'address': '123 Elm St Apt 5, New York, NY 10001',
  'email': 'aishwarya.menon@g mail.com'},
 {'name': 'Al-Farsi, Ahmed',
  'employee_id': '426-930-0187',
  'salary': '800K',
  'dob': '5/21/80',
  'join_date': '24-May-15',
  'year_of_service': '7 years',
  'weight': '68.5 kg',
  'address': '456 Maple Ave #101, Los Angeles, CA 90210',
  'email': 'ahmed.alfarsi@yahoo.c om'},
 {'name': 'Al-Farsi, Ahmed',
  'employee_id': '426 930 0187',
  'salary': '800K',
  'dob': '5/21/80',
  'join_date': '24-May-15',
  'year_of_service': nan,
  'weight': '68.5 kg',
  'address': '456 Maple Ave APT 101, Los Angeles, CA 90210',
  'email': 'ahmed.alfarsi@yahoo.com'},
 {'name': 'Al-Farsi, Ahmed M.',
  'employee_id': '0654-890-127',
  'salary': '500K',
  'dob': '03.10.1978',
  'join_date': '2-Jun-10',
  'year_of_service': '12 years',
  'weight': '75.2 kg',
  'address': '987 Pine Blvd, San Francisco, CA 94102',
  'email': 'ahmed.m.alfarsi@gmail.c om'},
 {'name': 'Alice B. Brown',
  'employee_id': '0632 750 194',
  'salary': '$950,000 ',
  'dob': '8/12/83',
  'join_date': '15-Oct-18',
  'year_of_service': '3 years',
  'weight': '200 lbs',
  'address': '654 Birch Rd, Apt 305, Boston, MA 02108',
  'email': 'alice.brown@gmail.com'},
 {'name': 'Alice K Brown',
  'employee_id': '0429-581-0763',
  'salary': '780K',
  'dob': '2/10/83',
  'join_date': '1-Jul-15',
  'year_of_service': nan,
  'weight': '90.3 kg',
  'address': '321 Cedar Dr, Seattle, WA 98101',
  'email': 'alice.88-brown@yahoo.com'},
 {'name': 'Chen, Mei',
  'employee_id': '00482-679-013',
  'salary': '$25,000 ',
  'dob': '5/15/90',
  'join_date': '8/23/05',
  'year_of_service': '16 years',
  'weight': '160 lbs',
  'address': '111 Willow Cir #7, Houston, TX 77002',
  'email': 'mei.chen@yahoo.c om'},
 {'name': 'Chen, Mei',
  'employee_id': '0983-567-0124',
  'salary': '33,000',
  'dob': '9/18/77',
  'join_date': '12.22.2014',
  'year_of_service': nan,
  'weight': '72.6 kg',
  'address': '222 Spruce Ct, Atlanta, GA 30301',
  'email': 'mei.chen@yahoo.c om'},
 {'name': 'Choudhary-Smith, Meera',
  'employee_id': '0502-349-0186',
  'salary': '42K',
  'dob': '16th August, 1971',
  'join_date': '14/12/2012',
  'year_of_service': nan,
  'weight': '145 pounds',
  'address': '333 Fir Pl, Miami, FL 33101',
  'email': 'meera.choudhary-smith@g mail.com'},
 {'name': 'Chris Davis, Esq.',
  'employee_id': '105-297-384',
  'salary': '15K',
  'dob': '19/07/1972',
  'join_date': '28-Sep-09',
  'year_of_service': '12 years',
  'weight': '65.7 kg',
  'address': '444 Poplar Ln, Unit 12, Dallas, TX 75201',
  'email': 'chris.davis.esq@gmail.com'},
 {'name': 'Da Silva, Maria',
  'employee_id': '0614 208 357',
  'salary': '$250,000 ',
  'dob': '15.06.1996',
  'join_date': '8/16/06',
  'year_of_service': nan,
  'weight': '185 lbs',
  'address': '555 Sycamore Ave Apt 201, Washington, DC 20001',
  'email': 'maria.da.silva@gmail.com'},
 {'name': 'Desai, Professor Arjun',
  'employee_id': '0736-150-824',
  'salary': '850,000',
  'dob': '11.30.1980',
  'join_date': '9/21/16',
  'year_of_service': nan,
  'weight': '84.0 kg',
  'address': '666 Ash St, Phoniex, AZ 85001',
  'email': 'arjun.desai@gmail.com'},
 {'name': 'Dr. Robert Johnson',
  'employee_id': '0532 941 687',
  'salary': '$35,000 ',
  'dob': '3/8/99',
  'join_date': '10/9/18',
  'year_of_service': nan,
  'weight': '170 lbs',
  'address': '777 Redwood Rd, Denver, CO 80202',
  'email': 'dr.robert.johnson@gmail.c om'},
 {'name': 'Garcia, Javier',
  'employee_id': '0952-864-301',
  'salary': '120K',
  'dob': '9/22/86',
  'join_date': '11th March, 2013',
  'year_of_service': nan,
  'weight': '77.1 kg',
  'address': '888 Magnolia Blvd, Philadelpia, PA 19101',
  'email': 'javier.garcia@yahoo.c om'},
 {'name': 'Garcia, Javier',
  'employee_id': '0314-728-0569',
  'salary': '95,000',
  'dob': '20th September, 1968',
  'join_date': '6/9/18',
  'year_of_service': nan,
  'weight': '155 pounds',
  'address': '999 Cedar St, Detroit, MI 48201',
  'email': 'javier.garcia202@yahoo.c om'},
 {'name': 'Hui Yang',
  'employee_id': '0349-761-802',
  'salary': '120000',
  'dob': '18-Nov-86',
  'join_date': '12-Feb-16',
  'year_of_service': '6 years',
  'weight': '70.2 kg',
  'address': '101 Oakwood Dr #305, Las Vegas, NV 89101',
  'email': 'hui.yang@gmail.com'},
 {'name': 'Iyer, Esq., Siddharth',
  'employee_id': '0419 587 306',
  'salary': '$175,000 ',
  'dob': '27.03.1991',
  'join_date': '26-Feb-19',
  'year_of_service': '3 years',
  'weight': '195 lbs',
  'address': '202 Birch Ave, San Antonio, TX 78201',
  'email': 'siddharth.iyer.esq@gmail.com'},
 {'name': 'Jamal Williams',
  'employee_id': '0238-617-495',
  'salary': '650K',
  'dob': '03.09.1970',
  'join_date': '12.07.2013',
  'year_of_service': nan,
  'weight': '88.5 kg',
  'address': '303 Maple Rd, Orlando, FL 32801',
  'email': 'jamal.williams@yahoo.c om'},
 {'name': 'Jane Smith',
  'employee_id': '0850 694 271',
  'salary': '$19,000 ',
  'dob': '1/7/94',
  'join_date': '7/19/19',
  'year_of_service': nan,
  'weight': '140 lbs',
  'address': '404 Willow Ln #8, San Diego, CA 92101',
  'email': 'jane.smith@gmail.c om'},
 {'name': 'Jane Smith',
  'employee_id': '850694271',
  'salary': '$19,000 ',
  'dob': '1/7/94',
  'join_date': '7/19/19',
  'year_of_service': nan,
  'weight': '140 lbs',
  'address': '404 Willow Ln #8, San Diego, CA 92101',
  'email': 'jane.smith@gmail.c om'},
 {'name': 'John Doe',
  'employee_id': '0580-796-321',
  'salary': '200000',
  'dob': '22/09/1996',
  'join_date': '18th August, 2010',
  'year_of_service': '11 years',
  'weight': '175 lbs',
  'address': '606 Cedar Pl, Apt 502, New Orleans, LA 70112',
  'email': 'john.doe@yahoo.c om'},
 {'name': 'Kapoor, PhD, Ananya',
  'employee_id': '703-182-965',
  'salary': '85K',
  'dob': '30/06/1975',
  'join_date': '8-Nov-14',
  'year_of_service': '7 years',
  'weight': '79.8 kg',
  'address': '707 Elm Ct #3, St. Louis, MO 63101',
  'email': 'ananya.kapoor.phd@gmail.com'},
 {'name': 'Kapoor, PhD, Ananya',
  'employee_id': '0796 351 0482',
  'salary': '$29K',
  'dob': '6/9/98',
  'join_date': '03.19.2019',
  'year_of_service': nan,
  'weight': '150 pounds',
  'address': '808 Redwood Dr, Indianapolis, IN 46201',
  'email': 'ananya.kapoor.phd@gmail.com'},
 {'name': 'Li Ying',
  'employee_id': '0670-123-598',
  'salary': '60K',
  'dob': '14th June, 1965',
  'join_date': '14-Jul-06',
  'year_of_service': '15 years',
  'weight': '68.1 kg',
  'address': '909 Oakwood Blvd, Minneapolis, MN 55401',
  'email': 'li.ying@yahoo.c om'},
 {'name': 'Mary Ann White',
  'employee_id': '0569 318 702',
  'salary': '$22,000 ',
  'dob': '7th August, 1998',
  'join_date': '3-Aug-11',
  'year_of_service': '10 years',
  'weight': '190 lbs',
  'address': '210 Pine St #4, Baltimore, MD 21201',
  'email': 'mary.ann.white@gmail.com'},
 {'name': 'Meera Choudhary-Smith',
  'employee_id': '0287-604-159',
  'salary': '45000',
  'dob': '1/12/79',
  'join_date': '17-Apr-18',
  'year_of_service': '3 years',
  'weight': '86.4 kg',
  'address': '321 Spruce Ln, Tampa, FL 33601',
  'email': 'meera.choudhary-smith@gmail.com'},
 {'name': 'Mr. William Turner Jr.',
  'employee_id': '0825 403 0716',
  'salary': '$80K',
  'dob': '7/5/76',
  'join_date': '5th June, 2015',
  'year_of_service': nan,
  'weight': '165 lbs',
  'address': '432 Birch Rd Apt 15B, Cleveland, OH 44101',
  'email': 'mr.william.turner.jr@gmail.com'},
 {'name': 'Nkosi, Fatima',
  'employee_id': '0902-345-618',
  'salary': '40,000',
  'dob': '12th July, 1982',
  'join_date': '3/3/14',
  'year_of_service': '7 years',
  'weight': '74.9 kg',
  'address': '543 Cedar Ave, Pittsburgh, PA 15201',
  'email': 'fatima.nkosi@gmail.c om'},
 {'name': 'Nkosi, Fatima S.',
  'employee_id': '0874 951 820',
  'salary': '$18,000 ',
  'dob': '6/14/89',
  'join_date': '9/11/16',
  'year_of_service': '5 years',
  'weight': '205 lbs',
  'address': '654 Elm Cir, Milwaukeee, WI 53201',
  'email': 'fatima.s.nkosi@gmail.c om'},
 {'name': 'Patel, Dr. Priya',
  'employee_id': '618372549',
  'salary': '$1,000,000 ',
  'dob': '10.10.1973',
  'join_date': '4/17/19',
  'year_of_service': nan,
  'weight': '93.0 kg',
  'address': '765 Sycamore Pl, Cincinnati, OH 45201',
  'email': 'dr.priya.patel@yahoo.c om'},
 {'name': 'Professor Michael Williams',
  'employee_id': '156489237',
  'salary': '$500K',
  'dob': '02.28.1974',
  'join_date': '7/12/05',
  'year_of_service': '16 years',
  'weight': '135 lbs',
  'address': '876 Maple Blvd, Portland, OR 97201',
  'email': 'professor.michael.williams@gmail.c om'},
 {'name': 'Professor Michael Williams',
  'employee_id': '0873 216 0905',
  'salary': '$50,000 ',
  'dob': '31.07.1995',
  'join_date': '25-03-2009',
  'year_of_service': nan,
  'weight': '61.3 kg',
  'address': '987 Willow Rd, Kansas City, MO 64101',
  'email': 'professor.michael.williams@gmail.c om'},
 {'name': 'Reddy, Kavita',
  'employee_id': '874215603',
  'salary': '$70,000 ',
  'dob': '10-Sep-87',
  'join_date': '5-Jan-17',
  'year_of_service': '6 years',
  'weight': '210 lbs',
  'address': '108 Pine Dr #205, Charlotte, NC 28201',
  'email': 'kavita.reddy@gmail.com'},
 {'name': 'Rodriguez, Diego',
  'employee_id': '0467-215-0983',
  'salary': '28K',
  'dob': '2/17/88',
  'join_date': '15/10/2011',
  'year_of_service': nan,
  'weight': '95.7 kg',
  'address': '219 Redwood Ln, Salt Lake City, UT 84101',
  'email': 'diego.rodriguez@gmail.c om'},
 {'name': 'Rodriguez, Diego',
  'employee_id': '0287-460-931',
  'salary': '38K',
  'dob': '27-03-1985',
  'join_date': '9/17/10',
  'year_of_service': nan,
  'weight': '130 lbs',
  'address': '320 Oak Ave, Raleigh, NC 27601',
  'email': 'diego.rodriguez@gmail.c om'},
 {'name': 'Rodriguez, Diego J.',
  'employee_id': '0456 790 321',
  'salary': '$600,000 ',
  'dob': '11.18.1988',
  'join_date': '19/07/2019',
  'year_of_service': '2 years',
  'weight': '59.0 kg',
  'address': '431 Cedar Blvd Apt 7, Nashville, TN 37201',
  'email': 'diego.j.rodriguez@yahoo.c om'},
 {'name': 'Samantha Taylor-Smith',
  'employee_id': '0743 856 291',
  'salary': '$300,000 ',
  'dob': '9/30/93',
  'join_date': '9-Dec-16',
  'year_of_service': '5 years',
  'weight': '220 lbs',
  'address': '542 Birch St, Sacramento, CA 95801',
  'email': 'samantha.taylor-smith@gmail.com'},
 {'name': 'Sara L. Miller, PhD',
  'employee_id': '891 567 204',
  'salary': '35000',
  'dob': '8/22/85',
  'join_date': '11/15/08',
  'year_of_service': '13 years',
  'weight': '99.4 kg',
  'address': '653 Magnolia Rd, Apt 101, Austin, TX 78701',
  'email': 'sara.l.miller.phd@gmail.com'},
 {'name': 'Sharma, Rahul',
  'employee_id': '0761 502 834',
  'salary': '$55,000 ',
  'dob': '20/01/1997',
  'join_date': '2/28/08',
  'year_of_service': nan,
  'weight': '125 pounds',
  'address': '764 Sycamore Cir, Phladelphia, PA 19101',
  'email': 'rahul.sharma@yahoo.c om'},
 {'name': 'Singh, Vikram',
  'employee_id': '539 687 214',
  'salary': '$90,000 ',
  'dob': '03.15.1992',
  'join_date': '5/10/12',
  'year_of_service': nan,
  'weight': '56.8 kg',
  'address': '875 Pine Pl, San Diego, CA 92101',
  'email': 'vikram.singh@gmail.com'},
 {'name': 'Takahashi, Akira',
  'employee_id': '198-543-706',
  'salary': '30,000',
  'dob': '4/3/95',
  'join_date': '7-Mar-12',
  'year_of_service': '9 years',
  'weight': '225 lbs',
  'address': '986 Spruce Ln, Jacksonvill, FL 32201',
  'email': 'akira.takahashi@gmail.com'},
 {'name': 'Takahashi, Akira',
  'employee_id': '0143 297 865',
  'salary': '$42,000 ',
  'dob': '21-May-71',
  'join_date': '30th October, 2014',
  'year_of_service': nan,
  'weight': '102.1 kg',
  'address': '109 Elm Dr #302, Charleston, SC 29401',
  'email': 'akira.takahashi@gmail.com'},
 {'name': 'Tao Xu',
  'employee_id': '0309-678-0124',
  'salary': '750,000',
  'dob': '24.11.1981',
  'join_date': '01.12.2017',
  'year_of_service': nan,
  'weight': '120 lbs',
  'address': '210 Maple Rd, Memphs, TN 38101',
  'email': 'tao.xu@yahoo.c om'},
 {'name': 'Verma, Mr. Rajiv',
  'employee_id': '215 908 347',
  'salary': '$45,000 ',
  'dob': '25-Feb-90',
  'join_date': '30-Apr-07',
  'year_of_service': '14 years',
  'weight': '54.5 kg',
  'address': '321 Oakwood Ave, Oklahma City, OK 73101',
  'email': 'mr.rajiv.verma@gmail.c om'},
 {'name': 'Wei Chen',
  'employee_id': '0876 234 501',
  'salary': '$75,000 ',
  'dob': '12/7/92',
  'join_date': '21/09/2013',
  'year_of_service': '8 years',
  'weight': '230 lbs',
  'address': '432 Birch Pl, Apt 6D, Richmond, VA 23201',
  'email': 'wei.chen@yahoo.c om'},
 {'name': 'William Turner Jr.',
  'employee_id': '0961 874 0250',
  'salary': '$850,000 ',
  'dob': '12/20/82',
  'join_date': '8/2/06',
  'year_of_service': nan,
  'weight': '104.8 kg',
  'address': '543 Sycamore Blvd, Newark, NJ 07001',
  'email': 'william.turner.jr@gmail.c om'},
 {'name': 'Williams, Jamal',
  'employee_id': '0297-431-0568',
  'salary': '55K',
  'dob': '4/5/78',
  'join_date': '13-Apr-08',
  'year_of_service': nan,
  'weight': '115 lbs',
  'address': '654 Willow Cir #9, Hartford, CT 06101',
  'email': 'jamal.williams@yahoo.c om'},
 {'name': 'Williams, Jamal',
  'employee_id': '0845 603 0219',
  'salary': '$14,000 ',
  'dob': '14/02/1989',
  'join_date': '04.08.2005',
  'year_of_service': nan,
  'weight': '52.2 kg',
  'address': '765 Redwood Dr, Bufflo, NY 14201',
  'email': 'jamal.williams@yahoo.c om'},
 {'name': 'Xavier, Sara',
  'employee_id': '0406-892-0715',
  'salary': '68K',
  'dob': '23rd October, 1974',
  'join_date': '12.25.2017',
  'year_of_service': nan,
  'weight': '235 lbs',
  'address': '876 Cedar Ln, Rochestor, NY 14601',
  'email': 'sara.xavier@gmail.c om'},
 {'name': 'Ying Zhao',
  'employee_id': '0172-946-0580',
  'salary': '600K',
  'dob': '5/28/79',
  'join_date': '21-Nov-11',
  'year_of_service': nan,
  'weight': '107.5 kg',
  'address': '987 Elm Ave Apt 205, Virginia Beach, VA 23401',
  'email': 'ying.zhao@yahoo.c om'}]

In [9]:
formatted_df.head()

,name,employee_id,salary,dob,join_date,year_of_service,weight,address,email
0,Aishwarya Menon,0194-826-537,90000,"15th December, 1984",24.05.2009,NaN,150 lbs,"123 Elm St Apt 5, New York, NY 10001",aishwarya.menon@g mail.com
1,"Al-Farsi, Ahmed",426-930-0187,800K,5/21/80,24-May-15,7 years,68.5 kg,"456 Maple Ave #101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.c om
2,"Al-Farsi, Ahmed",426 930 0187,800K,5/21/80,24-May-15,NaN,68.5 kg,"456 Maple Ave APT 101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.com
3,"Al-Farsi, Ahmed M.",0654-890-127,500K,03.10.1978,2-Jun-10,12 years,75.2 kg,"987 Pine Blvd, San Francisco, CA 94102",ahmed.m.alfarsi@gmail.c om
4,Alice B. Brown,0632 750 194,"$950,000",8/12/83,15-Oct-18,3 years,200 lbs,"654 Birch Rd, Apt 305, Boston, MA 02108",alice.brown@gmail.com

In [10]:
columns_to_format = {'dob': 'datetime', 'join_date': 'datetime', 'email': 'email', 'address': 'US_address'}
year_format = {'dob': {'min': 1926, 'max': 2025}} # only dob column needs formatting
# for col in columns_to_format.keys():
#     data_type = columns_to_format[col]
    
#     if data_type == 'datetime':
#         formatted_df[col] = clean_date(formatted_df, col, inplace=True, report=True, progress=True)[f'{col}_clean']
#         formatted_df[col] = pd.to_datetime(formatted_df[col])
#         if col in year_format:
#             formatted_df[col] = formatted_df[col].apply(lambda x: x.replace(year=x.year-100) if x.year > datetime.datetime.now().year else x)
#     elif data_type == 'email':
#         formatted_df[col] = clean_email(formatted_df, col, remove_whitespace=True, report=True, progress=True)[f'{col}_clean']
#     elif data_type == 'US_address':
#         formatted_df[col] = clean_address(formatted_df, col, report=True, progress=True)[f'{col}_clean']
#     elif data_type == 'country':
#         formatted_df[col] = clean_country(formatted_df, col, report=True, progress=True)[f'{col}_clean']

In [11]:
error_list = [] 
for col in columns_to_format.keys():
    data_type = columns_to_format[col]
    try:
        if data_type == 'datetime':
            formatted_df[col] = clean_date(formatted_df, col, inplace=True, report=True, progress=True)[f'{col}_clean']
            formatted_df[col] = pd.to_datetime(formatted_df[col])
            if col in year_format:
                formatted_df[col] = formatted_df[col].apply(lambda x: x.replace(year=x.year-100) if x.year > year_format[col]['max'] else x)
        elif data_type == 'email':
            formatted_df[col] = clean_email(formatted_df, col, errors='raise', remove_whitespace=True, report=True, progress=True)[f'{col}_clean']
        elif data_type == 'US_address':
            formatted_df[col] = clean_address(formatted_df, col, errors='raise', report=True, progress=True)[f'{col}_clean']
        elif data_type == 'country':
            formatted_df[col] = clean_country(formatted_df, col, errors='raise', report=True, progress=True)[f'{col}_clean']
        elif data_type == 'url':
            formatted_df[col] = clean_url(formatted_df, col, errors='raise', report=True, progress=True)[f'{col}_clean']
        elif data_type == 'phone':
            formatted_df[col] = clean_phone(formatted_df, col, errors='raise', report=True, progress=True)[f'{col}_clean']
        elif data_type == 'isbn':
            formatted_df[col] = clean_isbn(formatted_df, col, errors='raise', report=True, progress=True)[f'{col}_clean']
        elif data_type == 'text':
            formatted_df[col] = clean_text(formatted_df, col, errors='raise', report=True, progress=True)[f'{col}_clean']
        else:
            custom_column = True
        
    except Exception as error:
        error_list.append(error)

# filter for duplicate values
formatted_df = formatted_df.drop_duplicates()

display(formatted_df.head(5))

# going through every invalid parsing
for err in error_list:
    print(err)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

Dates Cleaning Report:
	48 values cleaned (96.0%)
	2 values unable to be parsed (4.0%), set to NaN
Result contains 48 (96.0%) values in the correct format and 2 null values (4.0%)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

Dates Cleaning Report:
	49 values cleaned (98.0%)
	1 values unable to be parsed (2.0%), set to NaN
Result contains 49 (98.0%) values in the correct format and 1 null values (2.0%)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

email Cleaning Report:
Result contains 50 (100.0%) values in the correct format and 0 null values (0.0%)

/opt/anaconda3/envs/ihcs/lib/python3.10/site-packages/dask/dataframe/core.py:7234: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|          | 0/8 [00:00<?, ?it/s]

Address Cleaning Report:
	50 values cleaned (100.0%)
Result contains 50 (100.0%) values in the correct format and 0 null values (0.0%)

,name,employee_id,salary,dob,join_date,year_of_service,weight,address,email
0,Aishwarya Menon,0194-826-537,90000,1984-12-15,2009-05-24,NaN,150 lbs,"123 Elm St., Apt 5, New York, NY 10001",aishwarya.menon@gmail.com
1,"Al-Farsi, Ahmed",426-930-0187,800K,1980-05-21,2015-05-24,7 years,68.5 kg,"456 Maple Ave., 101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.com
2,"Al-Farsi, Ahmed",426 930 0187,800K,1980-05-21,2015-05-24,NaN,68.5 kg,"456 Maple Ave., Apt 101, Los Angeles, CA 90210",ahmed.alfarsi@yahoo.com
3,"Al-Farsi, Ahmed M.",0654-890-127,500K,1978-10-03,2010-06-02,12 years,75.2 kg,"987 Pine Blvd., San Francisco, CA 94102",ahmed.m.alfarsi@gmail.com
4,Alice B. Brown,0632 750 194,"$950,000",1983-12-08,2018-10-15,3 years,200 lbs,"654 Birch Rd., Apt 305, Boston, MA 02108",alice.brown@gmail.com

In [12]:
inferred_dtypes = inferred_dtypes.reset_index().rename(columns={'index': 'column_name'})

In [13]:
inferred_dtypes.to_dict('records')

[{'column_name': 'Name',
  'semantic_data_type': 'string',
  'atomic_data_type': 'string'},
 {'column_name': 'EmployeeID',
  'semantic_data_type': 'string',
  'atomic_data_type': 'string'},
 {'column_name': 'Salary',
  'semantic_data_type': 'string',
  'atomic_data_type': 'string'},
 {'column_name': 'DOB',
  'semantic_data_type': 'string',
  'atomic_data_type': 'string'},
 {'column_name': 'JoinDate',
  'semantic_data_type': 'string',
  'atomic_data_type': 'string'},
 {'column_name': 'Year of Service',
  'semantic_data_type': 'address',
  'atomic_data_type': 'string'},
 {'column_name': 'Weight',
  'semantic_data_type': 'address',
  'atomic_data_type': 'string'},
 {'column_name': 'Address',
  'semantic_data_type': 'address',
  'atomic_data_type': 'string'},
 {'column_name': 'Email',
  'semantic_data_type': 'URL',
  'atomic_data_type': 'string'}]